
<div class= "jumbotron", id= "jumbotron">
	<h1 class="text-center">DearMe</h1>
	<p></p>
		<div class= "text-center">
		<button type="button" class="btn btn-primary">Sign up</button>
		<button type="button" class="btn btn-default">Log in</button>
	</div>
	</p>
	
</div>

