
<div class= "jumbotron", id= "jumbotron">
	<h1 class="text-center">DearMe</h1>
	<p></p>
		<div class= "text-center">
			<% if current_user.blank? %>
 			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn" %>
	 		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn" %>
	 		<% end %>
	</div>
	</p>
	
</div>

