#jumbotron h1 {
   font-family: 'Reenie Beanie';
   font-size: 700%;
	}
#navbar-brand {
   font-family: 'Reenie Beanie';
   font-size: 225%;
	}



// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
